# Ignora la cartella node_modules

node_modules
package-lock.json
package.json
han-dora-VP6ACJoENXQ-unsplash.jpg
hunter-newton-BgZFS8DPg0I-unsplash.jpg
logo.gif
miguel-angel-padrinan-alba-wS5wwhjQ2ec-unsplash.jpg
